---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import Pill from "@components/Pill.astro";

interface Props {
	project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
// Todo: lazy-load videos https://web.dev/lazy-loading-video/
---

<a class:list={["card", { video: data.videoPreview }]} href={`/work/${slug}`}>
	<span class="title">{data.title}</span>
	{
		data.img && (
			<Image
				src={data.img}
				width={data.img.width}
				height={data.img.height}
				alt={data.imgAlt || ""}
			/>
		)
	}
	{
		data.videoPreview && (
			<video class="lazy" autoplay loop muted playsinline poster={data.img?.src}>
				<source data-src={`${data.videoPreview}-av1.webm`} type="video/av1" />
				<source data-src={`${data.videoPreview}.webm`} type="video/webm" />
				<source data-src={`${data.videoPreview}.mp4`} type="video/mp4" />
			</video>
		)
	}
	<Pill>{data.tags[0]}</Pill>
</a>

<style>
	.card {
		position: relative;
		display: grid;
		grid-template: auto 1fr / auto 1fr;
		height: 11rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		overflow: hidden;
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		font-family: var(--font-brand);
		font-size: var(--text-lg);
		transition: box-shadow var(--theme-transition);
	}

	.card:hover {
		box-shadow: var(--shadow-md);
	}

	.card :global(.pill) {
		position: absolute;
		bottom: 0.5rem;
		left: 0.5rem;
		border-radius: 0.375rem;
	}

	.title {
		grid-area: 1 / 1 / 2 / 2;
		z-index: 1;
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		background: var(--gray-999);
		color: var(--gray-200);
		border-radius: 0.375rem;
	}

	img,
	video {
		grid-area: 1 / 1 / 3 / 3;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: filter 0.3s ease;
	}

	video {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.card:not(.video):hover img {
		filter: blur(2px) grayscale(75%);
	}

	.card.video:hover video {
		opacity: 1;
	}

	@media (min-width: 50em) {
		.card {
			height: 22rem;
			border-radius: 1.5rem;
		}

		.title,
		.card :global(.pill) {
			border-radius: 0.9375rem;
		}
	}
</style>
